
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutNoFooter.cshtml";
}

<body>
    <div class="card mx-auto shadow-lg p-3 m-5 bg-white rounded" style="width: 25rem;">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Quên Mật Khẩu</h3>
            <form method="post" action="/User/ForgotPassword">

                <div class="mb-3">
                    <label for="identifier" class="form-label">Email hoặc Số Điện Thoại</label>
                    <input type="text" class="form-control" id="identifier" name="identifier" placeholder="Nhập email hoặc số điện thoại của bạn" required>
                </div>

                <button type="submit" class="btn btn-primary w-100">Gửi</button>


                @if (ViewBag.Username != null || ViewBag.Fullname != null)
                {
                    <div class="alert alert-success mt-3">
                        <strong>Thông Tin Tài Khoản: </strong><br />
                        <strong>Tên Đăng Nhập:</strong> @ViewBag.Username<br />
                        <strong>Họ Tên:</strong> @ViewBag.Fullname<br />
                        <strong>Mật khẩu:</strong>@ViewBag.Password
                    </div>
                }
                else if (ViewBag.ErrorMessage != null)
                {
                    <div style="color:red">@ViewBag.ErrorMessage</div>
                }
            </form>
            <div class="text-center mt-3">
                <a href="@Url.Action("Login", "User")" class="btn btn-link">Quay lại Đăng Nhập</a>
            </div>
        </div>
    </div>
</body>