@model IEnumerable<TT_Shop.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý tài khoản</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary" data-toggle="modal" data-target="#modalWindow" data-title="Tạo người dùng mới">Create New</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updated_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItem.TenSanPham)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created_at)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.updated_at)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CartItem.TenSanPham)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="@Url.Action("Edit", new { id = item.user_id })" class="btn btn-warning btn-sm me-2" data-toggle="modal" data-target="#modalWindow" data-title="Chỉnh sửa">Edit</a>
                        <a href="@Url.Action("Delete", new { id = item.user_id })" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalWindow" data-title="Xóa người dùng">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal Structure -->
<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
            </div>
            <div class="modal-body">
                <!-- Content will be loaded here -->
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('a[data-toggle="modal"]').on('click', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                var title = $(this).data('title');
                $('#modalLabel').text(title);
                $('#modalWindow .modal-body').load(url);
                $('#modalWindow').modal('show');
            });
        });
    </script>
}