@model IEnumerable<TT_Shop.Models.Product>

@{
    int productCount = 0;
}

@foreach (var product in Model)
{
    if (productCount % 3 == 0)
    {
        if (productCount > 0)
        {
            @:</div> <!-- Đóng thẻ row khi đã có 3 sản phẩm -->
        }
        @:<div class="row">
        }

        <div class="col-md-4">
            <div class="card mb-4">
                <img src="@Url.Content("~/Images/Images/" + product.image_url)" alt="@product.name" class="card-img-top img-fluid fixed-size-img" />
                <div class="card-body text-center">
                    <h5 class="card-title">@product.name</h5>
                    <p class="card-text">Giá: @String.Format("{0:0,0}đ", product.price)</p>
                </div>
                <div class="card-footer text-center">
                    <p class="card-text">@product.description</p>
                    <a href="@Url.Action("Detail", "Home", new { id = product.product_id })" class="btn btn-success">Mua ngay</a>
                </div>
            </div>
        </div>

        productCount++;
    }

@if (productCount % 3 != 0)
{
@:</div> 
}
