@model IEnumerable<TT_Shop.Models.Product>

@{
    ViewBag.Title = "Trang chủ";
    int productCount = 0;
}

<script>
    function loadProducts(categoryId) {
        $.ajax({
            url: '@Url.Action("GetProductsByCategory", "Home")',
            type: 'GET',
            data: { id: categoryId },
            success: function (data) {
                $('#product-container').html(data);
            },
            error: function () {
                alert('Failed to load products.');
            }
        });
    }
</script>

<div id="product-container">
    <h2 class="highlight-heading">Sản phẩm mới</h2>
    @foreach (var product in Model)
    {
        if (productCount % 3 == 0)
        {
            if (productCount > 0)
            {
            @:</div> <!-- Đóng thẻ row khi đã có 3 sản phẩm -->
        }
        @:<div class="row">
        }

        <div class="col-md-4">
            <div class="card mb-4">
                <img src="@Url.Content("~/Images/Images/" + product.image_url)" alt="@product.name" class="card-img-top img-fluid fixed-size-img" />
                <div class="card-body text-center">
                    <h5 class="card-title">@product.name</h5>
                    <p class="card-text">Giá: @String.Format("{0:0,0}đ", product.price)</p>
                </div>
                <div class="card-footer text-center">
                    <p class="card-text">@product.description</p>
                    <a href="@Url.Action("Detail", "Home", new { id = product.product_id })" class="btn btn-success">Mua ngay</a>
                    <a href="@Url.Action("AddToCart", "Cart", new { product_id = product.product_id })" class="btn btn-primary">Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>

        productCount++;
    }
</div>

<!-- Pagination Controls -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }
    </ul>
</nav>
</div>
